.contact-tab {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-tab .links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-tab .links-wrapper a {
  color: #212121;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
