.me-tab {
  flex: 1 1 auto;
  height: 26.4rem;
  max-height: 26.4rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.me-tab .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 500px) {
  .me-tab {
    height: unset;
    max-height: unset;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    gap: 4rem;
  }
}

.me-tab .profile {
  height: 100%;
  width: 100%;
  max-height: 20rem;
  max-width: 20rem;
}

.me-tab a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
