<div class="me-tab hide-tab">
  <div class="profile"></div>
  <div class="text">
    <span>Hi, I'm Jonatan.</span>
    <span class="handwave material-icons-outlined">pan_tool</span>
    <br /><br />
    <span>
      Web developer based in Stockholm, Sweden who enjoys coding, doing flips
      and eating popcorn.
    </span>
    <br /><br />
    <span
      >Currently working at
      <a href="https://climateview.global" target="_blank">ClimateView</a> via
      <a href="https://salt.dev/" target="_blank">&lt;/salt&gt;</a>.</span
    >
  </div>
</div>
