.work-content {
  padding: 2rem 1.5rem 2rem 2rem;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-content .title {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.work-content .title span {
  flex: 1 1 auto;
}

.work-content .title .links {
  display: flex;
  gap: 1rem;
}

.work-content .title .links a {
  color: #212121;
  flex: 0 1 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.work-content .techstack {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.work-content .tech {
  font-size: 1.2rem;
  background-color: #eae7ee;
  border-radius: 1rem;
  padding: 0.1rem 0.6rem 0.4rem 0.6rem;
}
.work-content .html {
  background-color: hsla(202, 75%, 42%, 0.25);
}
.work-content .css {
  background-color: hsla(18, 77%, 52%, 0.25);
}
.work-content .js {
  background-color: hsla(48, 88%, 58%, 0.25);
}
.work-content .ts {
  background-color: hsla(204, 100%, 40%, 0.25);
}
.work-content .node {
  background-color: hsla(110, 39%, 45%, 0.25);
}
.work-content .react {
  background-color: hsla(193, 81%, 65%, 0.25);
}
.work-content .graphql {
  background-color: hsla(320, 69%, 52%, 0.25);
}
.work-content .mongodb {
  background-color: hsla(112, 47%, 45%, 0.25);
}
.work-content .sass {
  background-color: hsla(331, 45%, 57%, 0.25);
}

.work-content .text {
  flex: 1 1 auto;
  display: flex;
  /* align-items: center; */
  text-align: justify;
}

@media (max-width: 500px) {
  .work-content {
    justify-content: center;
    padding: 2rem 1rem 2rem 2rem;
  }
  .work-content .title {
    padding-top: 0.5rem;
  }
  .work-content .text {
    flex: 0 1 auto;
  }
}

.work-content .links {
  display: flex;
}
.work-content .links a {
  color: #212121;
}
