<div class="navigation">
  <a data-route="home" href="/me" class="me-link"
    ><span class="material-icons-round">face</span>Me</a
  >
  <a data-route="work" href="/work" class="work-link"
    ><span class="material-icons-round">code</span>Work</a
  >
  <!-- <a data-route="about" href="/about" class="about-link"
    ><span class="material-icons-round">face</span>Me</a
  > -->
  <a data-route="contact" href="/contact" class="contact-link"
    ><span class="material-icons-round">message</span>Contact</a
  >
</div>
