<div class="navigation">
  <a data-route="home" href="/home" class="home-link"
    ><span class="material-icons-outlined">home</span>Home</a
  >
  <a data-route="work" href="/work" class="work-link"
    ><span class="material-icons">construction</span>Work</a
  >
  <a data-route="about" href="/about" class="about-link"
    ><span class="material-icons">person</span>Me</a
  >
  <a data-route="contact" href="/contact" class="contact-link"
    ><span class="material-icons">chat</span>Contact</a
  >
</div>
